.form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-width: 600px;
  & > * {
    display: flex;
    flex-direction: column;
  }

  fieldset {
    border: none;
    padding-left: 0;
  }
  .row {
    flex-direction: row;
    gap: 0.5em;
    & > * {
      width: 50%;
      display: flex;
      flex-direction: column;
    }
  }
}
